<div ng-if="model.display.hasMetadata">
    <div>
        <h3>{{model.metadata['Title'].value}}</h3>
    </div>
    <div id="folder-metadata-display">
        <dt ng-if="model.metadata['Identifier Type'].value && model.metadata['Identifier'].value"> {{model.metadata['Identifier Type'].value}}:</dt> <dd ng-if="model.metadata['Identifier Type'].value && model.metadata['Identifier'].value">{{model.metadata['Identifier'].value}}</dd>

        <dt ng-if="model.metadata['Creator'].value">Creator:</dt> <dd>{{model.metadata['Creator'].value}}</dd>
        <dt>Description:</dt> <dd>{{model.metadata['Description'].value}}</dd>
        <dt ng-if="model.metadata['Publisher'].value">Publisher:</dt> <dd>{{model.metadata['Publisher'].value}}</dd>
        <dt ng-if="model.display['Publication Year']">Publication Year:</dt> <dd>{{model.display['Publication Year']}}</dd>

        <p id="rights" ng-bind-html="model.display.Rights"></p>
        <dt>Citation:</dt><dd>{{model.display.readableCitation}}</dd>
    </div>

    <div>
        <p>Export Formats:
            <button type="button" class="btn btn-link" ng-click="getCitation('BibTeX')">BibTeX</button>
            <button type="button" class="btn btn-link" ng-click="getCitation('Endnote')">Endnote</button>
        </p>
        <div id="citation" ng-if="model.display.citationFormat">
            <div>
              <button class="btn btn-link" type="button" ng-click="downloadCitation(model.display.citationFormat)">Download As {{model.display.citationFormat}}
            </div>

            <pre ng-bind-html="model.display.citation"></pre>
        </div>
    </div>
    <p ng-if="model.display.curatedOrCommunity == 'community'"> This dataset is not stable or permanent and might change.</p>

    <div class="actions-box">
        <button type="button" class="btn btn-primary" ng-click="metadataToggle()">
            {{model.display.showMoreButton}}
        </button>
        <button id="download-metadata-button" type="button" class="btn btn-primary" ng-click="downloadMetadata(model.item.id)">
                Download Metadata
        </button>
    </div>
</div>

<div ng-show="expandMetadata" ng-if="model.metadata">
    <ul class="list-group">
        <li class="list-group-item" ng-if="meta.value && !(model.display.alreadyDisplayed | contains:meta.key)" ng-repeat="meta in model.display.sortedMetadata">
            <div class="row">
                <div class="col-sm-3">
                    <b >{{meta.key}}</b>
                </div>
                <div class="col-sm-9">
                    {{ meta.value }}
                </div>
            </div>
        </li>
    </ul>
</div>

<div style="min-height: 300px;" id="directory-contents">
    <div class="table-responsive">
        <table ng-if="model.item.path === BasePaths.curated" class="table table-bordered table-striped">
            <tr ng-repeat="folder in model.collection.folders | orderBy:sortType:sortReverse">
                <td>
                    <a ng-href="/browse{{ folder.path }}" ng-click="browse($event, folder)">
                        <i class="fa fa-folder"></i> {{ folder.label }}
                    </a>
                    <span ng-if="folder.loading"><i class="fa fa-spinner fa-spin"></i></span>
                </td>
            </tr>
        </table>

        <table ng-if="model.item.path !== BasePaths.curated" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th ng-click="sort('label')">
                        <a>
                            Name
                            <i class="glyphicon" ng-class="getSortIcon('label')"></i>
                        </a>
                    </th>
                    <th ng-click="sort('file-size')">
                        <a>
                            Size
                            <i class="glyphicon" ng-class="getSortIcon('file-size')"></i>
                        </a>
                    </th>
                    <th ng-click="sort('date-created')">
                        <a>
                            Created
                            <i class="glyphicon" ng-class="getSortIcon('date-created')"></i>
                        </a>
                    </th>
                    <th ng-click="sort('date-modified')">
                        <a>
                            Last Modified
                            <i class="glyphicon" ng-class="getSortIcon('date-modified')"></i>
                        </a>
                    </th>
                </tr>
            </thead>
            <tr ng-repeat="item in model.collection.FoldersAndFiles | orderBy:orderBy(sortType):sortReverse">
                <td>
                    <a ng-href="/browse{{ item.path }}" ng-click="browse($event, item)">
                        <i ng-class="{ 'fa fa-folder':item.isFolder,'fa fa-file-o':!item.isFolder }"></i>
                        {{ item.label }}
                    </a>
                    <span ng-if="item.loading"><i class="fa fa-spinner fa-spin"></i></span>
                </td>
                <td >
                    {{ item['file-size']|bytes }}
                </td>
                <td>
                    {{ item['date-created']|date:"medium"}}
                </td>
                <td>
                    {{ item['date-modified']|date:"medium" }}
                </td>
            </tr>
        </table>
    </div>
</div>

<nav aria-label="Directory paging" ng-if="model.pagination.show">
    <ul uib-pagination total-items="model.pagination.total" items-per-page="model.pagination.pageSize" ng-model="model.pagination.current" ng-change="pageChanged()"></ul>
</nav>

<div>
    Displaying {{model.pagination.item_start}}-{{model.pagination.item_end}} of {{model.collection.total}} items
</div>