<div class="content">

    {{data.msg}}

    <div id="breadcrumbs" ng-include="'/static/sra/templates/breadcrumbs.html'"></div>

    <div id="file-scroller">
        <div id="file-scroller-inner" class="clearfix">
            <ul>
                <li class="list-group-item" ng-repeat="meta in data.metadata.template">
                    <dd>{{meta.attr}}</dd>
                    <dt>{{meta.value}}</dt>
                </li>
                <li class="list-group-item" ng-repeat="meta in data.metadata.irods">
                    <dd>{{meta.attr}}</dd>
                    <dt>{{meta.value}}</dt>
                </li>
            </ul>
            <ul class="clearfix node-list" ng-if="data.collection.id">
                <li class="dir" ng-repeat="folder in data.collection.folders">
                    <a ng-href="/browse{{ folder.path }}" >{{ folder.label }}</a>
                </li>
                <li class="file" ng-repeat="file in data.collection.files">
                    <a ng-href="browse{{ file.path }}" ng-click="modal(file.path, file.label)">{{ file.label }} ({{file['file-size']}})</a>
                </li>
            </ul>

            <a id="load_more" class="btn btn-default file-info-button" ng-if="data.collection.more_data" ng-click="load_more(data.collection.path)">
                Load More
            </a>
        </div>
    </div>
</div>