<div class="modal-header">
    <h3 class="modal-title">{{ model.file.label }}</h3>
</div>
<div class="modal-body">
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="meta in model.metadata.avus">
            <div class="row">
                <div class="col-sm-3"><b>{{ meta.attr }}</b></div>
                <div class="col-sm-9">{{ meta.value }}</div>
            </div>
        </li>
        <li class="list-group-item" ng-repeat="meta in model.metadata['irods-avus']">
            <div class="row">
                <div class="col-sm-3"><b>{{ meta.attr }}</b></div>
                <div class="col-sm-9">{{ meta.value }}</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3"><b>File Path</b></div>
                <div class="col-sm-9">{{ model.file.path }}</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3"><b>File Size</b></div>
                <div class="col-sm-9">{{ model.file['file-size']|bytes }}</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3"><b>Created</b></div>
                <div class="col-sm-9">{{ model.file['date-created']|date:"medium" }}</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3"><b>Last Modified</b></div>
                <div class="col-sm-9">{{ model.file['date-modified']|date:"medium" }}</div>
            </div>
        </li>
    </ul>

    <div id="download_button" ng-if="model.downloadEnabled" class="text-right">
        <button type="button" class="btn btn-primary" ng-click="check_recaptcha_cookie()">
            <i class="fa fa-cloud-download"></i> Download
        </button>

        <form action="?" method="GET" id="download_form">
            <input type="hidden" name="csrfmiddlewaretoken" value="QxKAxVRIIjP3RQEVMNwsLcvobkZ0q6mX">
            <div id="recaptcha" class="g-recaptcha" data-sitekey="6LerigwTAAAAABUYsV5WQoBBTZS58d7LfgE7I1yt" data-size="compact" data-callback="recaptcha_callback"></div>
        </form>
    </div>

    <div ng-if="!model.downloadEnabled" class="alert alert-info">
        <h4><i class="fa fa-cloud-download"></i> Download</h4>
        <p>
            Due to the size of this file, it cannot be downloaded from this page.
            Please use one of the following methods:
        </p>

        <ul class="list-unstyled">
            <li>Public Access (No account required)
                <ul>
                    <li>iCommands</li>
                    <li>iDrop</li>
                    <li>Cyberduck</li>
                    <li>
                        <a target="_blank" href="http://www.cyverse.org/learning-center/manage-data">
                            More Information <i class="fa fa-external-link"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <li>CyVerse Users (requires CyVerse account)
                <ul>
                    <li>
                        <a target="_blank" href="https://de.iplantcollaborative.org/de/?type=data&amp;folder={{ model.file.parent_path }}">
                            Discovery Environment (DE) <i class="fa fa-external-link"></i></a>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <dl>
            <dt>Path:</dt>
            <dd>
                <input value="{{ model.file.parent_path }}" type="text" class="form-control">
            </dd>
            <dt>File Name:</dt>
            <dd>
                <input value="{{ model.file.label }}" type="text" class="form-control">
            </dd>
        </dl>
    </div>

    <hr>

    <div ng-if="model.previewable">
        <p class="alert alert-info">Previews are limited to the first 8Kb. Download to view entire file.</p>
        <p class="text-center" ng-if="! model.preview">Loading preview <i class="fa fa-spinner fa-spin"></i></p>
        <pre syntax-highlighter id="file_preview" ng-if="model.preview">{{ model.preview }}</pre>
    </div>

    <div ng-if="! model.previewable" class="jumbotron text-center">
        <p>Preview not available</p>
    </div>
</div>