body {
	background-color: #FFF;
    /*font-family: Univers, Calibri, "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*font-size: 18px;*/
	font-size: 14px;
	line-height: 1.5;
	/*background-image: url("../img/bg.png");*/
	background-repeat: repeat-x;
	color: #404040;
}
.container {
	width: 940px;
	margin: 80px auto 120px;
}
.container > .content {
	background-color: white;
	padding: 20px;
	margin: 0 -20px;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	box-shadow: 0 0 1px 2px rgba(0,0,0,.15);
}
a {
    color: #1071AB;
}
h1 {
	font-family: inherit;
	font-size: 14pt;
	font-style: italic;
	color: #db6619;
	position: relative;
	top: 20px;
	display: inline;
}
h2 {
	margin-bottom: .75em
}
#headers {
	position: relative;
	border-bottom: #CCC solid 1px;
	padding-bottom: 10px;
}
#headers span {
	font-weight: bold;
}
#headers span:first-child {
	padding-left: 22px;
}
#headers span + span {
	position: absolute;
	right: 19em;
	width: 5em;
}
#headers span + span + span {
	position: absolute;
	right: 6em;
	width: 12em;
}
#file-tree {
	margin: .75em 0;
}
ul.jqueryFileTree {
	font-family: "Helvetica Neue", Ariel, Helvetica, sans-serif !important;
	font-size: 1em !important;
	line-height: 2 !important;
}
ul.jqueryFileTree li {
	line-height: 2;
	background-position: left 3px !important;
	position: relative;
}

.jqueryFileTree a:hover {
	background: #c3f2f8 !important;
}
.jqueryFileTree li.file a {
}
.jqueryFileTree li.file span {
}
.jqueryFileTree li.file span.filename {

}
.jqueryFileTree li li.file span.filename {
}
.jqueryFileTree li.file span.filesize {
	position: absolute;
	right: 19em;
	width: 5em;
}
.jqueryFileTree li.file span.mdate {
	position: absolute;
	right: 6em;
	width: 12em;
}
.jqueryFileTree li button.share {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
}

/**
 * Extensions!
 */

#header h1 a {
    color: inherit;
}


/* Header */

#header_container {
	background-color: #ffffff;
	height: 39px;
    border-bottom: 10px solid #0971AA;
    position: fixed;
    top: 0;
    z-index: 1;
}
#header {
	margin: 0 auto;
    width: 980px;
}
#site-title {
	color: #0098aa;
	font-weight: normal;
}
#logo_container {
	margin-left: 0px;
}
#logo_container a, #logo_container a:hover {
	text-decoration: none;
	border: none;
}
#logo_container div {
	border-radius: 3px;
	/*padding: 5px;*/
    /*height: 28px;*/
	height: 42px;
	overflow: hidden;
}
#logo_container #site-title {
	color: #EEE;
	margin-left: 10px;
	text-align: right;
	font-style: normal;
	font-size: 14px;
}
#logo_container img {
	max-width: 100%;
	max-height: 100px;
    /*height: 28px;*/
	height: 42px;
}

#wiki-link {
    float: right;
    line-height: 28px;
    color: #eee;
}
#wiki-link:hover {
    color: #fff;
}


/**
 * Footer
 */
#footer {
    /*border-top: #CCC solid 1px;*/
	border-top: #226895 solid 1px;
	padding-top: .75em;
	text-align: center;
	font-size: 14px;
    /*position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;*/
    background: #fff;
}
#footer a:link, #footer a:visited, #footer a:active {
	text-decoration: none;
	/*border-bottom: #0298AA dashed 1px;*/
}
#footer a:hover {
	text-decoration: none;
}

/**
 * Main content
 */
#bd {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.no-preview {
    text-align: center;
    font-style: italic;
    font-size: 2em;
    color: #999;
    border: 2px dashed #ccc;
    border-radius: 6px;
    padding: 160px 0;
    margin-top: .5em;
}

/**
 * Sidebar
 */
#study-list {
    margin: 0;
    list-style: none;
}
#study-list li a {
    display: block;
    text-decoration: none;
    padding: .5em;
}
#study-list li a:hover {
    background-color: rgba(0,152,170,.2);
}
#study-list li.active a {
    background-color: #0098aa;
    color: #ffffff;
}
#study-list .study-id {
    float: left;
    width: 6em;
}
#study-list .study-title {
    display: block;
    margin-left: 6em;
}

#file-scroller {
    overflow: hidden;
}

#file-scroller-inner {
    position: relative;
    overflow: hidden;
}

#file-scroller-inner > div {
    width: 940px;
    float: left;
    min-height: 400px;
}

#breadcrumbs {
    border-bottom: 1px solid #ccc;
    padding: .75em 0;
    margin-bottom: .5em;
}
#breadcrumbs ul {
    list-style: none;
    margin: 0;
}
#breadcrumbs li {
    float: left;
    padding-right: 7px;
    padding-left: 20px;
    background-color: transparent;
    background-image: url('../img/icons/folder.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 0px center;
}
#breadcrumbs li.file {
    background-image: url('../img/icons/page_white.png');
}
#breadcrumbs li a {
    padding-right: 7px;
}
#breadcrumbs li::after {
    content: '\00BB';
}
#breadcrumbs li:last-child::after {
    content: '';
}

/**
 * File icons
 */
.node-list {
    list-style: none;
    margin: 0;
}
.node-list li {
    line-height: 2;
    padding-left: 20px;
    background-color: transparent;
    background-image: url('../img/icons/page_white.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 0px center;
}
.node-list .dir {
    background-image: url('../img/icons/folder.png');
}

.data-object-header {
    padding: .5em;
    border-radius: 6px;
    background-color: #e6e6e6;
}
.data-object-header > div {
}
.data-object-header .file-properties {
    float: left;
    width: 600px;
    list-style: none;
    margin: 0 0 0 .25em;
}
.data-object-header .file-properties li {
    float: left;
    line-height: 30px;
    font-size: 16px;
    margin-left: 6px;
    padding-left: 6px;
    border-left: 1px solid #ccc;
}
.data-object-header .file-properties li:first-child {
    margin-left: 0;
    padding-left: 0;
    border-left-width: 0;
}
.data-object-header .file-action {
    float: right;
    text-align: right;
}

.template-image .img-polaroid {
    margin-top: 1.5em;
    max-width: 930px;
}

/* File Extensions*/
.file.ext-3gp, .file.ext-avi, .file.ext-mov, .file.ext-mp4, .file.ext-mpg,
.file.ext-mpeg {
    background-image: url(../img/icons/film.png);
}
.file.ext-txt, .file.ext-md, .file.ext-log. .file.ext-rtf {
    background-image: url(../img/icons/page_white_text.png);
}
.file.ext-afp, .file.ext-afpa, .file.ext-asp, .file.ext-aspx,
.file.ext-c, .file.ext-cfm, .file.ext-cgi, .file.ext-h, .file.ext-cpp,
.file.ext-lasso {
    background-image: url(../img/icons/page_code.png);
}
.file.ext-bat, .file.ext-com, .file.ext-exe {
    background-image: url(../img/icons/application_xp_terminal.png);
}
.file.ext-bmp, .file.ext-gif, .file.ext-jpg, .file.ext-jpeg, .file.ext-pcx,
.file.ext-png {
    background-image: url(../img/icons/picture.png);
}
.file.ext-htm, .file.ext-html {
    background-image: url(../img/icons/html.png);
}
.file.ext-m4p, .file.ext-mp3, .file.ext-ogg {
    background-image: url(../img/icons/music.png);
}
.file.ext-js, .file.ext-pl, .file.ext-py {
    background-image: url(../img/icons/script.png);
}
.file.ext-rb, .file.ext-rbx, .file.ext-rhtml, .file.ext-ruby {
    background-image: url(../img/icons/ruby.png);
}
.file.ext-fla, file.ext-swf {
    background-image: url(../img/icons/page_white_flash.png);
}
.file.ext-css { background-image: url(../img/icons/css.png); }
.file.ext-doc { background-image: url(../img/icons/page_white_word.png); }
.file.ext-php { background-image: url(../img/icons/page_white_php.png); }
.file.ext-jar { background-image: url(../img/icons/page_white_cup.png); }
.file.ext-pdf { background-image: url(../img/icons/page_white_acrobat.png); }
.file.ext-ppt { background-image: url(../img/icons/page_white_powerpoint.png); }
.file.ext-psd { background-image: url(../img/icons/paintbrush.png); }
.file.ext-sql { background-image: url(../img/icons/database.png); }
