html {
    background-color: #142248;
}

body {
}

.navbar-cyverse {
    background-color: #142248;
    border-color: #0971AA;
    border-bottom: 10px solid #0971AA;
    color: #ffffff;
}

.navbar-cyverse .navbar-brand {
    display:block;
    position: relative;
    top: 7px;
    left: 1em;
    background-color: #0971AA;
    border-radius: 4px;
    padding: 3px;
    transition: .5s;
}

.navbar-cyverse .navbar-brand > img {
    height: 50px;
    border-radius: 2px 2px 0 0;
    background-color: #fff;
    transition: .5s;
}

@media (max-width: 767px) {
    .navbar-cyverse .navbar-brand {
        top: -3px;
        height: 56px;
        left: -3px;
        padding-right: 3px;
        border-radius: 0 0 4px 0;
        margin-bottom: -6px;
    }

    .navbar-cyverse .navbar-brand > img {
        height: 50px;
        border-radius: 0 0 2px 0;
    }
}

.navbar-cyverse .navbar-nav > li > a {
    color: #99D9E9;
}

.navbar-cyverse .navbar-nav > li > a:focus,
.navbar-cyverse .navbar-nav > li > a:hover {
    background-color: transparent;
    color: #ffffff;
}

.navbar-cyverse .navbar-toggle {
    border-color: #99D9E9;
}

.navbar-cyverse .navbar-toggle .icon-bar {
    background-color: #99D9E9;
}

.overflow-header {
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

footer {
    background-color: #142248;
    color: #dddddd;
    margin-top: 20px;
    padding-top: 20px;
}

.nav-pills-centered > li {
    float: none;
    display: inline-block;
}

footer a,
footer .nav > li > a {
    color: #99D9E9;
}

footer a:focus,
footer a:hover {
    text-decoration: none;
}

footer a:focus,
footer a:hover,
footer .nav > li > a:focus,
footer .nav > li > a:hover {
    background-color: transparent;
    color: #ffffff;
}

.ng-enter {
    z-index: 8888;
    background-color: lime;
}

.ng-leave {
    z-index: 9999;
    background-color: fuchsia;
}

div #DCR_button {
    float:left;
    width: 15%;
    height: 200px;
}

div #community_button {
    width: 15%;
    height: 200px;
}