html {
    background-color: #ffffff;
}

body {
}

.navbar-cyverse {
    background-color: #004471;
    /*background-color: #142248;*/
   /* border-color: #0971AA;
    border-bottom: 3px solid #E2E2E2;
*/    color: #ffffff;
}

.navbar-cyverse .navbar-brand {
    display: block;
    position: relative;
    height: auto;
    display: flex;
    align-items: center;
}

.navbar-cyverse .navbar-nav > li > a {
    color: #ffffff;
}


.navbar-cyverse .navbar-nav > li > a:focus,
.navbar-cyverse .navbar-nav > li > a:hover {
    background-color: transparent;
    text-decoration: underline;
}

.navbar-cyverse .navbar-toggle {
    border-color: #ffffff;
    top: 15px;
    /*border-color: #99D9E9;*/
}

.navbar-cyverse .navbar-toggle .icon-bar {
    background-color: #99D9E9;
}

.navbar-right {
    margin-top: 16px;
    top: 50%;
}

.overflow-header {
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

footer a,footer .nav > li > a {
     color: #ffffff;
}

footer {
    background-color: #004471;
    color: #a5a4a4;
    margin-top: 20px;
    padding-top: 20px;
    /*border-top: 3px solid;*/
    /*border-top-color: #e2e2e2;*/
    box-shadow: 0px 500px 0px 500px #004471;

}

.nav-pills-centered > li {
    float: none;
    display: inline-block;
}

footer a:focus,
footer a:hover {
    text-decoration: none;
}

footer a:focus,
footer a:hover,
footer .nav > li > a:focus,
footer .nav > li > a:hover {
    background-color: transparent;
    color: #ffffff;
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

.ng-enter {
    z-index: 8888;
    background-color: lime;
}

.ng-leave {
    z-index: 9999;
    background-color: fuchsia;
}

.subheading {
    content:' ';
    display:block;
    border-bottom:1px solid black;
    padding-bottom: 1px;
}

.subsection {
    display:block;
    padding-bottom: 1px;
    display: flex;
}

.actions-box {
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: 10px;
    padding-bottom: 15px;
}

.tip-box {
    border-left: 1px solid black;
    padding-left: 10px;
    word-wrap: break-word;
}

#data-commons-icon {
    height: 50px;
    margin-left: 5px;
}

.page-logo-title {
    font-size: 18px;
    padding-right: 15px;
    margin: 0;
    color: #ffffff;
    font-weight:normal;
}

#data-commons-heading {
    display: inline-block;
    width: 100%
    margin-bottom: 10px;
}

#data-commons-block {
    display: inline-block;
}

#user-agreement-block {
    margin-top: 15px
}

#cyverse-icon {
    height: 30px;
    position: relative;
    bottom: 10px;
}

#download-metadata-button {
    float: right;
}

#folder-metadata-display dt{
    float: left;
    clear: left;
    margin-right: 5px;
    font-weight: bold;
}

#folder-metadata-display dd {
    margin-left: 0px;
    padding-bottom: 6px;
}

#rights {
    padding-top: 6px;
}

#doi-curated {
    background-color: #e2e2e2;
    border: 1px solid #0971ab;
    padding: 4px;
}