body {
	background-color: #FFF;
	font-family: Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 1.5;
	background-image: url("../img/bg.png");
	background-repeat: repeat-x;
	color: #404040;
}
.container {
	width: 940px;
	margin: 80px auto 120px;
}
.container > .content {
	background-color: white;
	padding: 20px;
	margin: 0 -20px;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
h1 {
	font-family: inherit;
	font-size: 14pt;
	font-style: italic;
	color: #db6619;
	position: relative;
	top: 20px;
	display: inline;
}
h2 {
	margin-bottom: .75em
}
#headers {
	position: relative;
	border-bottom: #CCC solid 1px;
	padding-bottom: 10px;
}
#headers span {
	font-weight: bold;
}
#headers span:first-child {
	padding-left: 22px;
}
#headers span + span {
	position: absolute;
	right: 19em;
	width: 5em;
}
#headers span + span + span {
	position: absolute;
	right: 6em;
	width: 12em;
}
#file-tree {
	margin: .75em 0;
}
ul.jqueryFileTree {
	font-family: "Helvetica Neue", Ariel, Helvetica, sans-serif !important;
	font-size: 1em !important;
	line-height: 2 !important;
}
ul.jqueryFileTree li {
	line-height: 2;
	background-position: left 3px !important;
	position: relative;
}

.jqueryFileTree a:hover {
	background: #c3f2f8 !important;
}
.jqueryFileTree li.file a {
}
.jqueryFileTree li.file span {
}
.jqueryFileTree li.file span.filename {
	
}
.jqueryFileTree li li.file span.filename {
}
.jqueryFileTree li.file span.filesize {
	position: absolute;
	right: 19em;
	width: 5em;
}
.jqueryFileTree li.file span.mdate {
	position: absolute;
	right: 6em;
	width: 12em;
}
.jqueryFileTree li button.share {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
}

/**
 * Extensions!
 */
.jqueryFileTree li.file.ext_tar-gz {background: url('../js/jqueryFileTree/images/zip.png') left top no-repeat; }
.jqueryFileTree li.file.ext_rtf {background: url('../js/jqueryFileTree/images/page.png') left top no-repeat; }

#header h1 a {
    color: inherit;
}


/* Header */

#header_container {
	background-color: #0098aa;
	/*margin-bottom: 40px;*/
	height: 39px;
	box-shadow: 0 2px 10px #333;
	background: url(../img/header_bg.png) no-repeat, url(../img/header_bg_bg.png);
    position: fixed;
    top: 0;
    z-index: 1;
}
#header {
	margin: 0 auto;
}
#header a {
	cursor: pointer;
	color: #0098aa;
	font-weight: normal;
}
#logo_container {
	margin-left: 0px;
}
#logo_container a, #logo_container a:hover {
	text-decoration: none;
	border: none;
}
#logo_container div {
	border-radius: 3px;
	padding: 5px;
	height: 28px;
	overflow: hidden;
}
#logo_container em {
	color: #EEE;
	margin-left: 10px;
	text-align: right;
	font-style: normal;
	font-size: 14px;
}
#logo_container img {
	max-width: 100%;
	max-height: 100px;
	height: 28px;
}


/**
 * Footer
 */
#footer {
	border-top: #CCC solid 1px;
	padding-top: .75em;
	text-align: center;
	font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    background: #fff;
}
#footer a:link, #footer a:visited, #footer a:active {
	color: #0298AA;
	text-decoration: none;
	border-bottom: #0298AA dashed 1px;
}
#footer a:hover {
	color: #0298AA;
	text-decoration: none;
}

/**
 * Main content
 */
#bd {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

/**
 * Sidebar
 */
#study-list {
    margin: 0;
    list-style: none;
}
#study-list li a {
    display: block;
    text-decoration: none;
    padding: .5em;
}
#study-list li a:hover {
    background-color: rgba(0,152,170,.2);
}
#study-list li.active a {
    background-color: #0098aa;
    color: #ffffff;
}
#study-list .study-id {
    float: left;
    width: 6em;
}
#study-list .study-title {
    display: block;
    margin-left: 6em;
}

#file-scroller {
    overflow: hidden;
}

#file-scroller-inner {
    position: relative;
    overflow: hidden;
}

#file-scroller-inner > div {
    width: 940px;
    float: left;
}

#breadcrumbs {
    border-bottom: 1px solid #ccc;
    padding: .75em 0;
    margin-bottom: .5em;
}
#breadcrumbs ul {
    list-style: none;
    margin: 0;
}
#breadcrumbs li {
    float: left;
    padding-right: 7px;
    padding-left: 20px;
    background-color: transparent;
    background-image: url('../img/icons/folder.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 0px center;
}
#breadcrumbs li a {
    padding-right: 7px;
    color: #0098aa;
}
#breadcrumbs li::after {
    content: '\00BB';
}
#breadcrumbs li:last-child::after {
    content: '';
}

/**
 * File icons
 */
.node-list {
    list-style: none;
    margin: 0;
}
.node-list li {
    line-height: 2;
    padding-left: 20px;
    background-color: transparent;
    background-image: url('../img/icons/page_white.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 0px center;
}
.node-list .dir {
    background-image: url('../img/icons/folder.png');
}
