###
# Set to "True" to enable Django DEBUG mode.
# https://docs.djangoproject.com/en/1.8/ref/settings/#debug
#
DJANGO_DEBUG=False

###
# https://docs.djangoproject.com/en/1.8/ref/settings/#std:setting-SECRET_KEY
#
DJANGO_SECRET_KEY=eua)krn6_=ii#lig8w4bzs8)eqg^%7mi2@8=!p**x#1a+_6q_2

# iRODS
IRODS_HOST={{ irods_host }}
IRODS_PORT={{ irods_port }}
IRODS_ZONE={{ irods_zone }}
IRODS_PATH={{ irods_path }}
IRODS_USER={{ irods_user }}
IRODS_PASSWORD={{ irods_password }}

# Metadata
METADATA_PREFIX=ipc_template

IDC_MIRRORS_VERSION={{ dc_version }}

# CyVerse APIs
TERRAIN_API_HOST={{ terrain_api_host }}
TERRAIN_API_KEY_PATH={{ terrain_api_key_path }}
TERRAIN_API_KEY_PASSPHRASE={{ terrain_api_key_passphrase }}

ANON_FILES_API_HOST={{ anon_files_api_host }}