<footer>
  <div class="container text-center">
    <div>
      Data Commons Mirrors <i>v.{{ idc_mirrors_version }}</i>
      <b>&copy; {{ year }} CyVerse </b>
    </div>
    <ul class="nav nav-pills nav-pills-centered">
      <li><a href="http://www.cyverse.org/" target="_blank">CyVerse's Website</a></li>
      <li><a href="http://preview.iplantcollaborative.org/de" target="_blank">Discovery Environment</a></li>
      <li><a href="https://atmo.iplantcollaborative.org" target="_blank">Atmosphere</a></li>
    </ul>
    <div>
      Silk Icons by <a href="http://www.famfamfam.com/">Mark James</a>
    </div>
  </div>
</footer>