<footer id="footer">
  <p>
    Data Commons Mirrors <i>v.{{ idc_mirrors_version }}</i>
    <b>&copy; {{ year }} iPlant Collaborative</b>
  </p>
  <p>
    <a href="http://www.cyverse.org/" target="_blank">CyVerse's Website</a>
    &nbsp; &nbsp; &nbsp;
    <a href="http://preview.iplantcollaborative.org/de" target="_blank">Discovery Environment</a>
    &nbsp; &nbsp; &nbsp;
    <a href="https://atmo.iplantcollaborative.org" target="_blank">Atmosphere</a>
  </p>
  <p>
    Silk Icons by <a href="http://www.famfamfam.com/">Mark James</a>
  </p>
</footer>