{% load staticfiles %}
<header>
  <nav class="navbar navbar-fixed-top navbar-cyverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">
          <img src="{% static 'img/cyverse_cmyk-01.png' %}" alt="CyVerse Datastore">
        </a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://www.cyverse.org">CyVerse Home</a></li>
          <li><a href="http://www.cyverse.org/data-store">Data Store</a></li>
          <li><a href="http://www.cyverse.org/discovery-environment">Discovery Environment</a></li>
          <li><a href="http://www.cyverse.org/atmosphere">Atmosphere</a></li>
          <li><a href="https://pods.iplantcollaborative.org/wiki/display/DS/Sharing+Data+with+the+Public+in+the+Community+Data+Directory+and+Mirrors+Site">About CyVerse Mirrors</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>