{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="main-container container" ng-controller="HomeCtrl">
    <section>
        <div id="home-content">
            <div>
                <small><img id="data-commons-icon" class="float-xs-left img-responsive" src="{% static 'img/DataCommons_Black.png' %}"></small>
                <h1 id="data-commons-heading">Data Commons</h1>
            </div>
            <div id="data-commons-block">
                <p>
                    The Data Commons (DC) provides services within the CyVerse to manage, organize, preserve, publish, discover, and reuse data.
                </p>
                <p>
                    You can use this portal to browse all Public Data (data shared by CyVerse researchers that is not curated and may not be permanent) and the Data Commons Repository (curated and with permanent identifiers).
                </p>
                <p>
                    Using our pipelines, you can easily publish data to the NCBI SRA and to our Data Commons Repository. Click the links below for more info.
                </p>
                <p>
                    Data Commons features such as data management and publication are available through the <a href="https://de.cyverse.org/de/" target="_blank">Discovery Environment</a>.
                </p>
            </div>
        </div>
    </section>
    <section>
        <h2 class="subheading">Browse Data</h2>
        <div class="subsection">
            <div class="actions-box">
                <a class="btn btn-primary" target="_blank" href="/browse/iplant/home/shared/" ng-mouseover="mouseOver('shared')" ng-mouseleave="mouseLeave()">
                    Public Data <i class="fa"></i>
                </a>
                <a class="btn btn-primary" target="_blank" href="/browse/iplant/home/shared/commons_repo/curated/" ng-mouseover="mouseOver('dcr')" ng-mouseleave="mouseLeave()">
                    Data Commons Repository <i class="fa"></i>
                </a>
            </div>
            {% verbatim %}
                <div id="description" class="tip-box">
                    <dt>{{data.descriptionTitle}}</dt>
                    <dd>{{data.description}}</dd>
                </div>
            {% endverbatim %}
        </div>

        <h2 class="subheading">Publish Data</h2>
        <div class="subsection">
            <div class="actions-box">
                <a class="btn btn-primary" target="_blank" href="https://wiki.cyverse.org/wiki/pages/viewpage.action?pageId=20351132">NCBI-SRA <i class="fa fa-external-link"></i>
                </a>
                <a class="btn btn-primary" target="_blank" href="https://wiki.cyverse.org/wiki/display/DC/Requesting+a+Permanent+Identifier+in+the+CyVerse+Data+Commons+Repository">
                    Data Commons Repository <i class="fa fa-external-link"></i>
                </a>
            </div>
        </div>
        <div id="user-agreement-block" class="text-center">By using the Data Commons you agree to the terms of our <a href="wheredoesthisgo?">User Agreement</a></div>
    </section>
</div>
{% endblock %}
