{% extends 'base.html' %}

{% load staticfiles %}


{% block head_extra %}
    <base href="{% url 'home' %}">
{% endblock %}

{% block content %}
  <div ng-include="'/static/sra/templates/info.html'"> </div>
{% endblock %}

{% block extra_scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="{%static 'vendor/angular/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'djangular/js/django-angular.js' %}"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>
<script type="text/javascript" src="{% static 'vendor/angular-bootstrap/ui-bootstrap-tpls.js' %}"></script>
<!-- <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.1.js"></script> -->
<!-- <script data-main="{% static 'sra/js/main.js' %}" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.11/require.min.js"></script> -->
<script src="{%static 'sra/js/datastore.js' %}"></script>
<!-- <script src="{%static '/static/sra/syntaxhighlighter/styles/shCore.css' %}"></script> -->
<!-- <script src="{%static '/static/sra/syntaxhighlighter/styles/shThemeDefault.css' %}"></script> -->

<!-- <script src="{%static '/static/sra/syntaxhighlighter/scripts/shCore' %}"></script>
<script src="{%static '/static/sra/syntaxhighlighter/scripts/shBrushCss' %}"></script>
<script src="{%static '/static/sra/syntaxhighlighter/scripts/shBrushJava' %}"></script>
<script src="{%static '/static/sra/syntaxhighlighter/scripts/shBrushPerl' %}"></script>
<script src="{%static '/static/sra/syntaxhighlighter/scripts/shBrushPhp' %}"></script>
<script src="{%static '/static/sra/syntaxhighlighter/scripts/shBrushPlain' %}"></script>
<script src="{%static '/static/sra/syntaxhighlighter/scripts/shBrushPython' %}"></script>
<script src="{%static '/static/sra/syntaxhighlighter/scripts/shBrushRuby' %}"></script>
<script src="{%static '/static/sra/syntaxhighlighter/scripts/shBrushXml' %}"></script>
<script src="{%static '/static/sra/js/brushes/shBrushFasta' %}"></script>
 -->
<script type="text/javascript">
  var root = "{{ root }}";
  var root_name = "{{ root_name }}";
  var metadata_prefix = "{{ metadata_prefix }}";
  var csrftoken = "{% csrf_token %}"
</script>
{% endblock %}