{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{{ title }}{% endblock %} iPlant Datastore</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="canonical" href="{{ request.get_full_path }}">
    {% include "includes/styles.html" %}
    {% block extra_styles %}{% endblock %}
</head>

<body>
  {% include "includes/header.html" %}
  {% block content %}{% endblock %}
  {% include "includes/footer.html" %}
  {% include "includes/scripts.html" %}
  {% block extra_scripts %}{% endblock %}
</body>
</html>
